<h1>{{data.userName}}</h1>

<p>Testing account information</p>

<p>Level: {{Actor.Level}}</p>

<p>Experience: {{Actor.Experience}}</p>

<p>Heath: {{Actor.Health}}</p>

<p>Attack: {{Actor.Attack}}</p>

<p>Iron: {{Actor.Iron}}</p>

<p>Crystal: {{Actor.Crystal}}</p>