<h1>{{data.userName}}</h1>

<p>Testing account information</p>

<p>Iron: {{Actor.Iron}}</p>

<p>Crystal: {{Actor.Crystal}}</p>

<p>Petroleum: {{Actor.Petroleum}}</p>

<div class="border border-dark">
    <p>{{IronMine_1.Name}} - Lv {{IronMine_1.Level}}</p>

    <p>Produce Rate: {{IronMine_1.ProduceRate}}</p>

    <p>Capacity: {{IronMine_1.Capacity}}</p>

    <p>Upgrade Cost: {{IronMine_1.UpgradeCost}}</p>
</div>