<h1>{{data.userName}}</h1>

<p>Testing account information</p>

<p>Iron: {{Actor.Iron}}</p>

<p>Crystal: {{Actor.Crystal}}</p>

<p>Petroleum: {{Actor.Petroleum}}</p>

<div class="border border-dark">
    <p>{{IronMine.Name}} - Lv {{IronMine.Level}}</p>

    <p>Produce Rate: {{IronMine.ProduceRate}}</p>

    <p>Upgrade Cost: Iron - {{IronMine.UpgradeCost_Iron}}</p>
    <p>Upgrade Cost: Crystal - {{IronMine.UpgradeCost_Crystal}}</p>
</div>

<div class="border border-dark">
    <p>{{IronStorage.Name}} - Lv {{IronStorage.Level}}</p>

    <p>Storage Capacity: {{IronStorage.Capacity}}</p>

    <p>Upgrade Cost: Iron - {{IronStorage.UpgradeCost_Iron}}</p>
    <p>Upgrade Cost: Crystal - {{IronStorage.UpgradeCost_Crystal}}</p>
</div>