<h3>Secret Service</h3>

<p>Anything here should be shown as login information</p>

{{#if errorMessage}}
    <div class="alert alert-danger"> <strong>Error:</strong> {{errorMessage}}</div>
{{else if successMessage}}
    <div class="alert alert-success"> <strong>Success:</strong> {{successMessage}}</div>
{{/if}}

<div>
    <h4>Collected Resource:</h4>
    <p id ="ironCollectResource-js">Iron: {{IronMine.HistoryCollectedResource}}</p>
    <p id ="crystalCollectResource-js">Crystal: {{CrystalMine.HistoryCollectedResource}}</p>
    <p id ="petroleumCollectResource-js">Petroleum: {{PetroleumMine.HistoryCollectedResource}}</p>
</div>

<div>
    <h4>Achievement</h4>
    {{#if Achievement.Resource.FirstCollect.Bool}}
        <div class="alert alert-success">
            <p>{{Achievement.Resource.FirstCollect.Name}}</p>
            <p>{{Achievement.Resource.FirstCollect.Description}}</p>
        </div>
    {{else}}
        <div class="alert alert-secondary">
            <p>{{Achievement.Resource.FirstCollect.Name}}</p>
            <p>{{Achievement.Resource.FirstCollect.Description}}</p>
        </div>
    {{/if}}

</div>

<br>
<form method="post" action="/information">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <p>Old password</p>
                <input class="form-control" id="password" name="password" type="password" placeholder="Password" required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <p>New password</p>
                <input class="form-control" id="newPassword" name="newPassword" type="password" placeholder="New password" required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <p>Confirm New password</p>
                <input class="form-control" id="confirmNewPassword" name="confirmNewPassword" type="password" placeholder="Confirm new password" required>
            </div>
        </div>
    </div>
    <input type="submit" class="btn btn-success pull-right" value="Confirm">
</form>


<br>
<br>

<form method="post" action="/information">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <p>Change name</p>
                <input class="form-control" id="displayName" name="displayName" type="displayName" placeholder="Enter text here" required>
            </div>
        </div>
    </div>
    <input type="submit" class="btn btn-success pull-right" value="Confirm">
</form>

<br>
<form method="post" action="/information">
    <input type="submit" class="btn btn-success pull-right" value="Reset">
</form>

<script>
function upgradeCollectResource() {
    const dateNow = Math.floor(Date.now() / 1000); // Convert to seconds
    const duration = dateNow - {{data.previousCollectTime}};

    function calculateCollectedResource(resource, storageCapacity, mine, historyCollectedResource, bonus, mineProduceRate) {
        if (resource >= storageCapacity) {
            return `${mine}: ${historyCollectedResource}`;
        } else {
            const collectable = parseInt(mineProduceRate * duration / 3600 * bonus);
            return `${mine}: ${historyCollectedResource + collectable}`;
        }
    }

    const collectIron = calculateCollectedResource({{Resource.Iron}}, {{IronStorage.Capacity}}, 'Iron', {{IronMine.HistoryCollectedResource}}, {{Achievement.Resource.Bonus}},{{IronMine.ProduceRate}});
    const collectCrystal = calculateCollectedResource({{Resource.Crystal}}, {{CrystalStorage.Capacity}}, 'Crystal', {{CrystalMine.HistoryCollectedResource}}, {{Achievement.Resource.Bonus}}, {{CrystalMine.ProduceRate}});
    const collectPetroleum = calculateCollectedResource({{Resource.Petroleum}}, {{PetroleumStorage.Capacity}}, 'Petroleum', {{PetroleumMine.HistoryCollectedResource}}, {{Achievement.Resource.Bonus}}, {{PetroleumMine.ProduceRate}});

    // Update collected resource values
    document.getElementById('ironCollectResource-js').innerText = collectIron;
    document.getElementById('crystalCollectResource-js').innerText = collectCrystal;
    document.getElementById('petroleumCollectResource-js').innerText = collectPetroleum;
}

setInterval(upgradeCollectResource, 1000);
// Initial call to run the function immediately
upgradeCollectResource();
</script>